.header {
    background-color: blue;
    /* height: 12vh; */
}
.main {
    display: flex;
    height: 95vh;
    margin-top: 3vh;
}
.main .column {
    flex: 3;
}
.main .column:nth-child(2) {
    flex: 6;
    margin: 1 0.125rem 0.1875rem;
    overflow:auto;
    background-color: rgba(0, 30, 250, 0.8);
}
.column #lefttopdiv {
    background-color: rgba(0, 30, 250, 0.3);
    min-height: 30vh;
}
.column #leftmiddiv {
    background-color: rgba(0, 30, 250, 0.3);
    min-height: 30vh;
}
.column #leftbotdiv {
    background-color: rgba(0, 30, 250, 0.3);
    min-height: 30vh;
}
.column #righttopdiv {
    background-color: rgba(0, 30, 250, 0.3);
    min-height: 30vh;
}
.column #rightmiddiv {
    background-color: rgba(0, 30, 250, 0.3);
    min-height: 30vh;
}
.column #rightbotdiv {
    background-color: rgba(0, 30, 250, 0.3);
    min-height: 30vh;
}
.column #maintable {
    font-size: 15px;
    font-weight: bolder;
    align-items: center;
}
.tr {
    color: yellow;
    text-align: center;
}
.tr:hover {
    color: gold;
    /* text-align: center; */
    background-color: rgba(50, 50, 50, 0.6);
}
.tr-clicked {
    color: lightyellow;
    background-color: rgba(200, 200, 200, 0.6);
}
.tr:focus {
    color: blue;
    background-color: gray;
}
.td-name {
    border: 3px solid gold;
}
.td-name-en {
    border: 3px solid gold;
}
.td-score {
    border: 3px solid gold;
}
.td-rank {
    border: 3px solid gold;