.body {
    background-color: #146C94c0;
    overflow:hidden;
}
.header {
    
}
.header .title {
    color: #FEFF86d3;
    text-align: center;
}
.main {
    display: flex;
    height: 95vh;
}
.main .column {
    background-color: #B0DAFF60;
    flex: 3;
}
.main .column:nth-child(2) {
    flex: 5;
    /* margin: 1 0.125rem 0.1875rem; */
    overflow: auto;
    background-color: #19A7CEf0;
}
.main .column:nth-child(2)::-webkit-scrollbar {
    display: none;
}
.column #lefttopdiv {
    min-height: 30vh;
}
.column #leftmiddiv {
    min-height: 30vh;
}
.column #leftbotdiv {
    min-height: 30vh;
}
.column #righttopdiv {
    min-height: 30vh;
}
.column #rightmiddiv {
    min-height: 30vh;
}
.column #rightbotdiv {
    min-height: 30vh;
}
.column #maintable {
    font-size: 15px;
    font-weight: bolder;
    align-items: center;
}
.tselect {
    background-color: #146C94ff;
    color: #FEFF86d3;
    font-size: large;
    text-align: center;
}
.th {
    color: #FEFF86d3;
    font-size: large;
    text-align: center;
}
.tr {
    color: #FEFF86d3;
    text-align: center;
}
.tr:hover {
    color: #FEFF8680;
    /* text-align: center; */
    background-color: #146C94ff;
}
.tr-clicked {
    color: #146C94f5;
    background-color: #FEFF8653;
}
.td-name {
    border: 2px solid #FEFF8651;
}
.td-name-en {
    border: 2px solid #FEFF8651;
}
.td-score {
    border: 2px solid #FEFF8651;
}
.td-rank {
    border: 2px solid #FEFF8651;
}